<button type="button" class="btn btn-primary" data-toggle="modal"
        data-target="#exampleModalScrollable">
    @($"{Culture.Name} - {Culture.DisplayName}")
</button>

<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Change Culture</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <select class="form-control" id="culture" @bind="_selectedCulture">
                    @if (_supportedCultures?.Any() ?? false)
                    {
                        @foreach (var culture in _supportedCultures.OrderBy(c => c.Name))
                        {
                            <option selected="@(Culture.LCID == culture.LCID)" value="@culture">
                                @($"{culture.Name} - {culture.DisplayName}")
                            </option>
                        }
                    }
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" @onclick="SetCultureAsync">Ok</button>
            </div>
        </div>
    </div>
</div>